.call-to-action {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3ecff;
    padding: 70px 40px;
    border-radius: 15px;

    &__text,
    &__money,
    &__other-money,
    &__btn {
      font-family: "Rubik", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
    }

    &__money {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 35%;
      font-size: 36px;
      line-height: 43px;
    }

    &__other-money {
      font-size: 24px;
      line-height: 28px;
      color: rgba(97, 97, 97, 0.59);
    }

    &__btn {
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      color: #ffffff;
      background: #dc9696;
      border-radius: 5px;
      text-decoration: none;
      padding: 18px 22px;
    }
  }
}
