
.blc {
    width: 1100px;
    height: 500px;
    border-radius: 15PX;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    padding: 70px 0 0 90px;
  
    &__btn{
      border-radius: 5px;
      border: none;
      padding: 10px 48px;
    }
  
    &__btn-text{
      font-family: Raleway;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.14em;
      color: #FFFFFF;
      text-decoration: none;
    }
  
    &__title {
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 41px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;
    }
  
    &__text {
      margin: 50px 0 80px 0;
      width: 450px;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 138.5%;
      letter-spacing: 0.08em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;
    }
  }
  