$color__blue: #E3ECFF;
$color__light-blue: #CFFFFD;
$color__yellow: #FFEFAB;
$color__pink: #FFEBF9;
$color__violet: #775CA6;
$color__black: #000000;
$color__white: #FFFFFF;



// legal-entities page (юр. лица)

.legal-entities {
    
    &__inner {
        
        &__title {
            font-family: Rubik, sans-serif;
            font-size: 40px;
            font-weight: 700;
            font-style: normal;
            margin-top: 67px;
            color: $color__black;

            &__descr {
                font-family: Rubik;
                font-style: normal;font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                margin-top: 33px;
                margin-bottom: 33px;
                color: $color__black;
            }
        }
    }
}

.cooperation-accord {
    background-color: $color__blue;
    padding-bottom: 58px;

    &__inner {

        &__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 41px;
            margin-top: 63px;
            color: $color__black;
        }

        &__acc-blc {
            background-color: $color__white;
            margin-top: 24px;

            &__accordion {
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 120%;
    
                //Style the buttons that are used to open and close the accordion panel
                color: $color__black;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                text-align: left;
                border: none;
                outline: none;
                transition: 0.4s;
            }
    
            //Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
            &__active, &__accordion:hover {
                background-color: #ccc;
            }
    
            //Style the accordion panel. Note: hidden by default
            &__panel {
                padding: 20px;
                display: none;
                overflow: hidden;
            }
    
            &__txt {
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 140%
    
            }
        }
    }
}

.cooperation-contact-info {
    
    &__inner {
        margin-top: 42px;

        &__txt {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px
            $color__black
        }

        &__boldtxt {
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            margin-top: 40px;
        }

        &__img {
            max-width: 610px;
            margin: 60px auto 120px;
            border-radius: 15px;
        }
    }
}

.legal_design_top_big1 {
    position: absolute;
    left: 64.24%;
    right: 25.62%;
    top: 3.68%;
    bottom: 90.72%;
    z-index: -1;
}

.legal_design_top_small1 {
    position: absolute;
    left: 74.38%;
    right: 22.22%;
    top: 7.59%;
    bottom: 90.53%;
    z-index: -1;
}

.legal_design_btm_left {
    position: absolute;
    left: 18.19%;
    right: 67.43%;
    top: 62.42%;
    bottom: 29.95%;
    z-index: -1;
}

.legal_design_btm_right1 {
    position: absolute;
    left: 99.51%;
    right: -19.51%;
    top: 48.85%;
    bottom: 40.53%;
    z-index: -1;
}

.legal_design_btm_right2 {
    position: absolute;
    left: 77.85%;
    right: 14.44%;
    top: 44.75%;
    bottom: 51.15%;
    z-index: -1;
}

.legal_design_btm_right3 {
    position: absolute;
    left: 71.25%;
    right: 25.9%;
    top: 49.19%;
    bottom: 49.27%;
    z-index: -1;
}